* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}
@font-face {
    font-family: 'kornucopia';
    src: url(font/kornucopia.ttf) format('truetype');
}
header {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    gap: 55px;
    padding: 10px;
    justify-content: center;
}
button {
    height: auto;
    width: 200px;
    background-color: black;
    border: none;
}
button a {
    color: rgb(255, 255, 255);
    background-color: black;
    text-decoration: none;
    font-family: kornucopia;
    font-size: 75px;
}
button a:hover {
    color: rgb(255, 0, 0);
}
.bigfatboy {
    display: flex;
    flex-direction: column;
    gap: 100px;
    font-family: 'Quintessential', sans-serif;
    color: white;
    padding: 20px;
}
.logo {
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.grouppic {
    width: 100dvh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.membersec {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 50px;
}
.membersec img {
    width: 188px;
    height: 270px;
}
.member {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 600px;
    height: 270px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    outline: 1px solid white;
}

.albumsec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.album {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.album img {
    width: 316px;
    height: 316px;
}
.album a {
    font-size: xx-large;
    font-weight: 300;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover {
    color: rgb(139, 139, 139);
}
/* Album Pages */
body {
    font-family: 'Barlow Condensed', sans-serif;
    background-color: black;
}
.fatboy {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.cover {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tracklist {
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    gap: 10px;
}
/* Self-Titles */
.selftrack {
    color: red;
    text-decoration: none;
}
.selftrack:hover {
    color: rgb(255, 110, 110);
}
/* Life Is Peachy */
.lifetrack {
    color: purple;
    text-decoration: none;
}
.lifetrack:hover {
    color: rgb(178, 72, 178);
}
/* Follow The Leader */
.followtrack {
    color: green;
    text-decoration: none;
}
.followtrack:hover {
    color: rgb(62, 194, 62);
}
/* Issues */
.issuetrack {
    color: orange;
    text-decoration: none;
}
.issuetrack:hover {
    color: rgb(255, 205, 111);
}
/* Untouchables */
.untrack {
    color: rgb(87, 45, 0);
    text-decoration: none;
}
.untrack:hover {
    color: rgb(169, 88, 2);
}
/* Take a Look In The Mirror */
.taketrack {
    color: rgb(48, 48, 48);
    text-decoration: none;
}
.taketrack:hover {
    color: gray;
}
/* See You On The Other Side */
.seeyoutrack {
    color: rgb(27, 0, 163);
    text-decoration: none;
}
.seeyoutrack:hover {
    color: rgb(0, 82, 154);
}
