* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}
html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'kornucopia';
    src: url(font/kornucopia.ttf) format('truetype');
}
header {
    position: sticky;
    top: 0px;
    display: flex;
    gap: 55px;
    padding: 10px;
    justify-content: center;
    z-index: 1;
}
.headerrow {
    display: flex;
}
.discography {
    display: flex;
    justify-self: flex-start;
    align-items: center;
    position: relative;
}
.discography button {
    width: 150px;
}
.rotate {
    transform: rotate(180deg);
}
.arrowdown:hover {
    fill: red;
}
.discographybox {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 200px;
    top: 80px;
    padding: 10px;
}
.discographybox a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.discographybox a:hover {
    color: rgb(255, 0, 0);
}
button {
    height: auto;
    width: 200px;
    background-color: black;
    border: none;
}
button a {
    color: rgb(255, 255, 255);
    background-color: black;
    text-decoration: none;
    font-family: kornucopia;
    font-size: 75px;
}
button a:hover {
    color: rgb(255, 0, 0);
}
.bigfatboy {
    display: flex;
    flex-direction: column;
    gap: 100px;
    font-family: 'Quintessential', sans-serif;
    color: white;
    padding: 20px;
}
.logo {
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.grouppic {
    width: 100dvh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.membersec {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 50px;
}
.membersec img {
    width: 188px;
    height: 270px;
}
.member {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 600px;
    height: 270px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    outline: 1px solid white;
}
.albumbox {
    display: flex;
    justify-content: center;
    gap: 75px;
    flex-wrap: wrap;
    position: relative;
}
.albumhover {
    display: none;
    position: absolute;
    left: 400px;
    z-index: 0;
    width: max-content;
}
.albumsec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.album {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.album img {
    width: 316px;
    height: 316px;
}
.album a {
    font-size: xx-large;
    font-weight: 300;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
/* Album Pages */
body {
    font-family: 'Barlow Condensed', sans-serif;
    background-color: black;
}
.fatboy {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.cover {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tracklist {
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
}
/* Self-Titles */
.selftrack {
    font-family: kornucopia;
    font-size: xx-large;
    color: red;
    text-decoration: none;
}
.selftrack:hover {
    color: rgb(255, 110, 110);
}
/* Life Is Peachy */
.lifetrack {
    font-family: kornucopia;
    font-size: xx-large;
    color: purple;
    text-decoration: none;
}
.lifetrack:hover {
    color: rgb(178, 72, 178);
}
/* Follow The Leader */
.followtrack {
    font-family: kornucopia;
    font-size: xx-large;
    color: green;
    text-decoration: none;
}
.followtrack:hover {
    color: rgb(62, 194, 62);
}
/* Issues */
.issuetrack {
    font-family: kornucopia;
    font-size: xx-large;
    color: orange;
    text-decoration: none;
}
.issuetrack:hover {
    color: rgb(255, 205, 111);
}
/* Untouchables */
.untrack {
    font-family: kornucopia;
    font-size: xx-large;
    color: rgb(87, 45, 0);
    text-decoration: none;
}
.untrack:hover {
    color: rgb(169, 88, 2);
}
/* Take a Look In The Mirror */
.taketrack {
    font-family: kornucopia;
    font-size: xx-large;
    color: rgb(108, 108, 108);
    text-decoration: none;
}
.taketrack:hover {
    color: rgb(196, 196, 196);
}
/* See You On The Other Side */
.seeyoutrack {
    font-family: kornucopia;
    font-size: xx-large;
    color: rgb(27, 0, 163);
    text-decoration: none;
}
.seeyoutrack:hover {
    color: rgb(0, 82, 154);
}
svg:hover {
    fill: gray;
}
.member svg {
    display: none;
}
@media screen and (max-width: 768px) {
    .logo {
        width: 500px;
        height: auto;
    }
    .grouppic {
        width: 350px;
        height: auto;
    }
    header {
        width: 100%;
        font-size: 32px;
        justify-content: center;
    }

    header a {
        width: 100%;
        font-size: 32px;
    }
    button {
        width: 75px;
    }
    .arrowdown {
        width: 18px;
        height: 18px;
    }
    .discography button {
        width: 75px;
    }
    .member {
        flex-direction: column;
        font-size: xx-small;
        width: 188px;
        text-align: center;
    }
    .membersec {
        gap: 100px;
    }
    .memberinfo {
        font-size: small;
        display: none;
        position: relative;
        bottom: 353px;
        height: 263px;
    }
    .member {
        height: 264px;
    }
    .discographybox {
        font-size: 10px;
        width: 130px;
        top: 40px;
        padding: 10px;
    }
    .discographybox a {
        font-size: 10px;
    }
    .member svg {
        display: flex;
        justify-content: center;
    }
    .infoarrowdown {
        justify-self: center;
    }
    .memberinfo {
        padding: 10px;
    }
}
