* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}
html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'kornucopia';
    src: url(font/kornucopia.ttf) format('truetype');
}
header {
    position: sticky;
    top: 0px;
    display: flex;
    gap: 55px;
    padding: 10px;
    justify-content: center;
    z-index: 1;
}
.headerrow {
    display: flex;
}
.discography {
    display: flex;
    justify-self: flex-start;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.discography button {
    width: 150px;
    cursor: pointer;
}
.discography .rotate {
    transform: rotate(180deg);
}
.arrowdown:hover {
    fill: red;
}
.discographybox {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 200px;
    top: 80px;
    padding: 10px;
}
.discographybox a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.discographybox a:hover {
    color: rgb(255, 0, 0);
}
button {
    height: auto;
    width: 200px;
    background-color: black;
    border: none;
}
button a {
    color: rgb(255, 255, 255);
    background-color: black;
    text-decoration: none;
    font-family: kornucopia;
    font-size: 75px;
}
button a:hover {
    color: rgb(255, 0, 0);
}
.bigfatboy {
    display: flex;
    flex-direction: column;
    gap: 100px;
    font-family: 'Quintessential', sans-serif;
    color: white;
    padding: 20px;
}
.logo {
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.grouppic {
    width: 100dvh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.membersec {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 50px;
    border-bottom: 1px solid white;
    padding-bottom: 100px;
}
.membersec img {
    width: 188px;
    height: 270px;
}
.member {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 600px;
    height: 270px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    outline: 1px solid white;
}
.albumbox {
    display: flex;
    justify-content: center;
    gap: 75px;
    flex-wrap: wrap;
    position: relative;
}
.albumhover {
    display: none;
    position: absolute;
    left: 400px;
    z-index: 0;
    width: max-content;
}
.albumsec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding-bottom: 100px;
    width: 100%;
}
.album {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.album img {
    width: 316px;
    height: 316px;
}
.album a {
    font-size: xx-large;
    font-weight: 300;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* Album Pages */
body {
    font-family: 'Barlow Condensed', sans-serif;
    background-color: black;
}
.fatboy {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
}
.cover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.albumcover {
    display: flex;
    flex-direction: row;
    width: 316px;
    height: 316px;
}
.albumwiki {
    display: none;
}
.tracklist {
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
}
.pagesheader {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.centerpages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 530px;
}
.backtomenu {
    display: flex;
    position: absolute;
    left: 0;
}
.hiddenone {
    visibility: hidden;
}

.albuminf {
    display: flex;
    flex-direction: column;
    position: relative;
}
/* Self-Titles */
.selftrack {
    font-family: kornucopia;
    font-size: xx-large;
    color: red;
    text-decoration: none;
}
.selftrack:hover {
    color: rgb(255, 110, 110);
}
.selftrackheader {
    font-family: kornucopia;
    font-size: 75px;
    color: red;
    letter-spacing: 5px;
}
#albumwiki {
    display: none;
}

.selfabout {
    display: none;
    flex-direction: column;
    color: red;
    width: 400px;
    padding: 0px 4px;
    position: absolute;
    top: 0px;
    right: 4%;
}
#selftitlewiki:hover .selfabout {
    display: flex;
}
/* Life Is Peachy */
.lifetrack {
    font-family: kornucopia;
    font-size: xx-large;
    color: purple;
    text-decoration: none;
}
.lifetrack:hover {
    color: rgb(178, 72, 178);
}
.lifetrackheader {
    font-family: kornucopia;
    font-size: 75px;
    color: purple;
    letter-spacing: 5px;
}
.lifeabout {
    display: none;
    flex-direction: column;
    color: purple;
    width: 400px;
    padding: 0px 4px;
    position: absolute;
    top: 0px;
    right: 4%;
}
#lifewiki:hover .lifeabout {
    display: flex;
}
/* Follow The Leader */
.followtrack {
    font-family: kornucopia;
    font-size: xx-large;
    color: rgb(0, 74, 0);
    text-decoration: none;
}
.followtrack:hover {
    color: green;
}
.followtrackheader {
    font-family: kornucopia;
    font-size: 75px;
    color: rgb(0, 74, 0);
    letter-spacing: 5px;
}
.followabout {
    display: none;
    flex-direction: column;
    color: rgb(0, 74, 0);
    width: 400px;
    padding: 0px 4px;
    position: absolute;
    top: 0px;
    right: 4%;
}
#followwiki:hover .followabout {
    display: flex;
}
/* Issues */
.issuetrack {
    font-family: kornucopia;
    font-size: xx-large;
    color: orange;
    text-decoration: none;
}
.issuetrack:hover {
    color: rgb(255, 205, 111);
}
.issuestrackheader {
    font-family: kornucopia;
    font-size: 75px;
    color: orange;
    letter-spacing: 5px;
}
.issuesabout {
    display: none;
    flex-direction: column;
    color: orange;
    width: 400px;
    padding: 0px 4px;
    position: absolute;
    top: 0px;
    right: 4%;
}
#issueswiki:hover .issuesabout {
    display: flex;
}
/* Untouchables */
.untrack {
    font-family: kornucopia;
    font-size: xx-large;
    color: rgb(87, 45, 0);
    text-decoration: none;
}
.untrack:hover {
    color: rgb(169, 88, 2);
}
.untrackheader {
    font-family: kornucopia;
    font-size: 75px;
    color: rgb(87, 45, 0);
    letter-spacing: 5px;
}
.unabout {
    display: none;
    flex-direction: column;
    color: rgb(87, 45, 0);
    width: 400px;
    padding: 0px 4px;
    position: absolute;
    top: 0px;
    right: 4%;
}
#unwiki:hover .unabout {
    display: flex;
}
/* Take a Look In The Mirror */
.taketrack {
    font-family: kornucopia;
    font-size: xx-large;
    color: rgb(108, 108, 108);
    text-decoration: none;
}
.taketrack:hover {
    color: rgb(196, 196, 196);
}
.taketrackheader {
    font-family: kornucopia;
    font-size: 75px;
    color: rgb(108, 108, 108);
    letter-spacing: 5px;
}
.takeabout {
    display: none;
    flex-direction: column;
    color: rgb(108, 108, 108);
    width: 400px;
    padding: 0px 4px;
    position: absolute;
    top: 0px;
    right: 4%;
}
#takewiki:hover .takeabout {
    display: flex;
}
/* See You On The Other Side */
.seeyoutrack {
    font-family: kornucopia;
    font-size: xx-large;
    color: rgb(27, 0, 163);
    text-decoration: none;
}
.seeyoutrack:hover {
    color: rgb(0, 82, 154);
}
.seeyoutrackheader {
    font-family: kornucopia;
    font-size: 75px;
    color: rgb(27, 0, 163);
    letter-spacing: 5px;
}
.seeyouabout {
    display: none;
    flex-direction: column;
    color: rgb(27, 0, 163);
    width: 400px;
    padding: 0px 4px;
    position: absolute;
    top: 0px;
    right: 4%;
}
#seeyouwiki:hover .seeyouabout {
    display: flex;
}
/*  */
svg:hover {
    fill: gray;
}
.member svg {
    display: none;
}

@media screen and (max-width: 768px) {
    .logo {
        width: 500px;
        height: auto;
    }
    .grouppic {
        width: 90%;
        height: auto;
    }
    header {
        width: 100%;
        font-size: 32px;
        justify-content: center;
    }

    header a {
        width: 100%;
        font-size: 32px;
    }
    button {
        width: 75px;
    }
    .arrowdown {
        width: 18px;
        height: 18px;
        cursor: pointer;
    }
    .discography button {
        width: 75px;
    }
    .member {
        flex-direction: column;
        font-size: xx-small;
        width: 188px;
        text-align: center;
    }
    .membersec {
        gap: 100px;
    }
    .memberinfo {
        font-size: small;
        display: none;
        position: relative;
        bottom: 340px;
        height: 264px;
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
    .member {
        height: 264px;
    }
    .discographybox {
        font-size: 10px;
        width: 130px;
        top: 40px;
        padding: 10px;
    }
    .discographybox a {
        font-size: 10px;
    }
    .member svg {
        display: flex;
        justify-content: center;
    }
    .infoarrowdown {
        justify-self: center;
    }
    .memberinfo {
        padding: 10px;
    }
    svg {
        width: 18px;
        height: 18px;
    }
    .pagesheader h1 {
        font-size: 24px;
        letter-spacing: 2.5px;
        width: 100%;
        justify-content: center;
    }
    .centerpages {
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 400px;
    }
    .navigation {
        width: 100%;
        justify-content: center;
    }
    .radio {
        justify-content: center;
        display: flex;
        width: 26px;
        position: absolute;
    }
    .cover img {
        justify-content: center;
        width: 200px;
        height: 200px;
    }
    .cover a {
        justify-content: center;
        width: 200px;
        height: 200px;
    }
    .tracklist {
        font-size: 12px;
    }
    .album img {
        width: 90%;
        height: 100%;
    }
    .album {
        justify-content: space-evenly;
    }
    .albumsec {
        gap: 75px;
    }
    .album a {
        font-size: x-large;
        font-weight: 300;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    .album h2 {
        font-size: medium;
    }
    #selftitlewiki:hover .selfabout {
        display: none;
    }
    #lifewiki:hover .lifeabout {
        display: none;
    }
    #followwiki:hover .followabout {
        display: none;
    }
    #issueswiki:hover .issuesabout {
        display: none;
    }
    #unwiki:hover .unabout {
        display: none;
    }
    #takewiki:hover .takeabout {
        display: none;
    }
    #seeyouwiki:hover .seeyouabout {
        display: none;
    }
}
